.reset-password-wrapper{
    min-height: 100vh;
    display: flex;
    justify-content: center;
  }
  .reset-password-wrapper > div{
    max-width:800px;
    min-width:500px;
    max-height: fit-content;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
  }